.film {
	width: 250px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 10px;
	padding: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
	border-radius: 5px;
}
.info {
	width: 60%;
	height: 100%;
	position: relative;
}
.year_film {
	width: 100%;
	margin: 0;
	position: absolute;
	bottom: 0;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.type {
	margin: 0;
	margin-right: 10px;
	text-align: right;
}
.info h3 {
	text-align: right;
	overflow-wrap: break-word;
}
.poster {
	width: 100%;
	height: 100%;
	margin-right: 5px;
}
.poster_img {
	width: 100%;
	height: 90%;
}
.details_film {
	width: 100%;
	height: 10%;
}
